.get-started-btn 
{
    margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    padding: 6px 25px 7px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    background-color: #1D3558;
    border: 2px solid #1D3558;
    font-weight: 600;
    margin-right: 0;
    margin-top: 0;
    width: 80%;
}
  
.get-started-btn:hover 
{
    background: #31a9e1;
    color: #fff;
    text-decoration: none;
}


.card
{
    max-height: 500px;
}

.card-body li
{
    background: inherit;
}

  .card 
  {
    border-radius: 25px;
    border-bottom: none;
  }

  .card-img-top
  {
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
    height: 250px;
    object-fit: contain;
  }

  .card-body
  {
    border-radius: 25px;
    border-top: none;
    background: linear-gradient(to bottom, white, #FCD9D9);
  }
  .card-body .list-group-item
  {
      margin-bottom: 0;
      padding: 0;
  }
  .card-body .rating
  {
    font-size: 28px;
    color: #1d425e;
    float: left;
    width: 20%;
  }